In [2]:
import os
from pathlib import Path

import xarray as xr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# folder = Path(r'P:\11210070-usgscoop-202324-arcticxb\runs\val_gt1/')
# fname = Path('0.nc')

# ds = xr.load_dataset(os.path.join(folder, fname), engine='netcdf4')
# ds.close()

# print(ds)

In [11]:
colnames = ['id', 'time', 'level1', 'level2']


df = pd.DataFrame(columns=colnames)

df = df._append(dict(zip(colnames, [0, 'some date', 10, 20])), ignore_index=True)
df = df._append(dict(zip(colnames, [1, 'some later date', 20, 30])), ignore_index=True)

mask = (df.id == 0)

df[mask].head()

print(df[mask].time)

0    some date
Name: time, dtype: object

In [2]:
print(2 * 150 // 15)
print(1 * 150 // 15)

20
10

In [15]:
pd.date_range('01-01-2000', '01-02-2000', freq='1min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00', '2000-01-01 00:09:00',
               ...
               '2000-01-01 23:51:00', '2000-01-01 23:52:00',
               '2000-01-01 23:53:00', '2000-01-01 23:54:00',
               '2000-01-01 23:55:00', '2000-01-01 23:56:00',
               '2000-01-01 23:57:00', '2000-01-01 23:58:00',
               '2000-01-01 23:59:00', '2000-01-02 00:00:00'],
              dtype='datetime64[ns]', length=1441, freq='min')

In [20]:
5 == np.nan

False

In [22]:
np.min(np.array([5, np.nan, 0]))

np.float64(nan)

In [37]:

t_start = pd.to_datetime("01-01-2011", dayfirst=True)
t_end = pd.to_datetime("02-01-2011", dayfirst=True)

t = pd.date_range(t_start, t_end, freq='1h', inclusive='left')

print(t)

rpt=2

# for i in range(rpt-1):
#     t = t.append(t)

# print(t * rpt)

print(t)

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='h')
DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='h')

In [39]:
type({'50': 0, '100':1, '200': 2, '295': 3})

dict

In [1]:
import xarray as xr

In [2]:
val_gt14 = xr.load_dataset('val_gt14_0000000000.nc')
val_gt15 = xr.load_dataset('val_gt15_0000000000.nc')

In [9]:
print(all(val_gt14.ground_temperature_distribution.values.reshape(-1) > 200))
print(all(val_gt15.ground_temperature_distribution.values.reshape(-1) > 200))

True
True

In [10]:
val_gt14.close()
val_gt15.close()

In [4]:
values = np.array([
    0.27464288,
    0.29428577,
    0.30821434,
    0.32214287,
])

diff = values[1:] - values[:-1]

print(diff)

[0.01964289 0.01392857 0.01392853]