In [2]:
import os

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

The cell below describes each dataset and loads it for easy visualization, and to get first impressions.

In [33]:
def first_impression_stats(df):

    print("Head:")
    display(df.head())

    print("Tail:")
    display(df.tail())

    print("Statistics:")
    display(df.describe())

    pass

# def first_impression_vis(df):

In [34]:
# csv file containing transects with bathymetric data for Barter island (measured in 2010-2011)
df_beach_profiles = pd.read_csv("raw_datasets/erikson/Beachprofiledat/BTI_20102011BeachProfiles_Data.csv")

# csv file containing near seabed conductivity, salinity, temperature, and depth measurements (measured in july - september 2011)
df_bed_meas = pd.read_csv("raw_datasets/erikson/Conductivity_te/BTI_2011TimeSeriesData_CTD.csv")

# csv file containing binned average horizontal and vertical flow velocities [m/s], as well as their amplicitudes (unit=counts[?]) (measured in july - september 2011)
df_vel = pd.read_csv("raw_datasets/erikson/Current_velocit/BTI_2011TimeSeriesData_CurrentVelocity.csv")

# csv file containing air temperature and ground temperatures at varying depths for different sites (measured in july - september 2011)
df_ground_temp = pd.read_csv("raw_datasets/erikson/Groundtemperatu/BTI_2011TimeSeriesData_GroundTemperature.csv")

# csv file containing wave and sea level statistics for identified storm dates with provided start start and end date, as well as duration (hindcasts and foreasts ranging 1981-2100)
df_storms = pd.read_csv("raw_datasets/erikson/Hindcast_1981_2/BTI_WavesAndStormSurges_1981-2100.csv")

# csv file containing mean sediment diameters and descriptions of sediment samples at different sites (measured in july 2011)
df_sediment = pd.read_csv("raw_datasets/erikson/Meangrainsizeof/BTI_2011GrainSize_Data.csv")

# csv file containing yearly projected first open water day, last open water day, and total open water days for different models (2011 - 2100)
df_open_water = pd.read_csv("raw_datasets/erikson/Projectedopenwa/BTI_OpenWaterSeasons_2011-2100.csv")

# csv file containing surface water temperature (every 20 minutes) of the sea for different sites (measured in july - september 2011)
df_sea_temp = pd.read_csv("raw_datasets/erikson/Sea_surfacewate/BTI_2011TimeSeriesData_SST.csv")

# Digital Elevation Model
# df = pd.read_csv("raw_datasets/erikson/Seamlesstopo_ba/...")

# csv file containing bathymetric data (i.e., depth relative to MSL and absolute water depth at time of measurement) obtained trough different systems (measured between 2010 and 2011)
df_bath = pd.read_csv("raw_datasets/erikson/Single_beambath/BTI_20102011Bathymetry_Data.csv")

# csv file containing conductivity and temperature data for different thermokarst lakes (measured in 2011)
df_thermokarst = pd.read_csv("raw_datasets/erikson/Thermokarstlake/BTI_2011ThermokarstTempSalinity_data.csv")

# csv file containing wave statistics (measured in july - september 2011)
df_waves = pd.read_csv("raw_datasets/erikson/Wavetime_series/BTI_2011TimeSeriesData_Waves.csv")

In [35]:
first_impression_stats(df_waves)

Head:

,SiteID,Instrument,Longitude,Latitude,year,month,day,hour,minute,seconds,Hs,Tp,Dp,Tm,Dm
0,BI01,AWAC,-143.92597,70.11687,2011,7,12,0,18,0,0.03,2.23,289.75,3.21,131.22
1,BI01,AWAC,-143.92597,70.11687,2011,7,12,1,18,0,0.02,1.94,0.00,3.01,332.32
2,BI01,AWAC,-143.92597,70.11687,2011,7,12,2,18,0,0.02,2.53,212.77,3.23,297.60
3,BI01,AWAC,-143.92597,70.11687,2011,7,12,3,18,0,0.03,1.99,0.00,3.15,254.76
4,BI01,AWAC,-143.92597,70.11687,2011,7,12,4,18,0,0.03,2.21,130.28,3.15,127.91

Tail:

,SiteID,Instrument,Longitude,Latitude,year,month,day,hour,minute,seconds,Hs,Tp,Dp,Tm,Dm
1829,BI01,AWAC,-143.92597,70.11687,2011,9,26,5,18,0,0.43,6.35,345.97,4.08,1.87
1830,BI01,AWAC,-143.92597,70.11687,2011,9,26,6,18,0,0.50,6.41,358.37,3.86,9.73
1831,BI01,AWAC,-143.92597,70.11687,2011,9,26,7,18,0,0.60,6.45,0.76,4.19,1.70
1832,BI01,AWAC,-143.92597,70.11687,2011,9,26,8,18,0,0.57,6.44,356.66,4.31,359.91
1833,BI01,AWAC,-143.92597,70.11687,2011,9,26,9,18,0,0.52,6.52,357.03,4.20,354.77

Statistics:

,Longitude,Latitude,year,month,day,hour,minute,seconds,Hs,Tp,Dp,Tm,Dm
count,1.834000e+03,1.834000e+03,1834.0,1834.000000,1834.000000,1834.000000,1834.0,1834.0,1834.000000,1815.000000,1834.000000,1834.000000,1834.000000
mean,-1.439260e+02,7.011687e+01,2011.0,8.070883,16.512541,11.461832,18.0,0.0,0.238964,5.097185,212.001778,4.048162,211.548244
std,2.842946e-14,2.842946e-14,0.0,0.767871,8.327654,6.927645,0.0,0.0,0.191744,1.757843,141.299859,1.218818,145.451170
min,-1.439260e+02,7.011687e+01,2011.0,7.000000,1.000000,0.000000,18.0,0.0,0.010000,1.260000,0.000000,2.190000,0.050000
25%,-1.439260e+02,7.011687e+01,2011.0,7.000000,10.000000,5.000000,18.0,0.0,0.080000,3.690000,40.372500,3.260000,29.982500
50%,-1.439260e+02,7.011687e+01,2011.0,8.000000,17.000000,11.000000,18.0,0.0,0.190000,5.370000,290.545000,3.800000,301.005000
75%,-1.439260e+02,7.011687e+01,2011.0,9.000000,23.000000,17.000000,18.0,0.0,0.370000,6.660000,337.557500,4.510000,337.957500
max,-1.439260e+02,7.011687e+01,2011.0,9.000000,31.000000,23.000000,18.0,0.0,0.980000,9.160000,359.990000,10.710000,359.990000